<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Project</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
            flex-direction: column;
        }

        h1 {
            font-size: 36px;
            color: #333;
        }

        h2 {
            font-size: 24px;
            color: #666;
        }
    </style>
</head>
<body>

<h1>Hi, welcome to one of my spring projects</h1>
<h2>(There's nothing here go to read.me)</h2>

</body>
</html>
